<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Nautic - All Blogs</title>
</head>
<body>
    <h2>All actual Blogs!</h2>
    <div class="blogs">
        {% for blog in blogs %}
        <div class="blog">
            <h3><a href="#">{{ blog.title }}</a> </h3>
            <p>{{ blog.body }}</p>
            <small>{{ blog.date }}</small>
        </div>
        {% endfor %}
    </div>
</body>
</html>